#abrir_lista {
    background-color: #ffff00;
}

.admin {
    text-align: right;
}

#admin_button {
    background-color: #0000ff;
    width: 150px;
}

.adicionar {
    background-color: #00ff00;
}

.excluir {
    background-color: #ff0000;
}

button {
    width: 80px;
}